	*{
		box-sizing: border-box;
	}
	html{
		scroll-behavior: smooth;
	}
	body{
		margin: 0;
		padding: 0;
	}
	.navbar{
		padding:0 !important;
		background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
		
	}
.head{
	height: 100%;
	width: 100% !important;
	padding-left:0 !important;
	padding-right:0 !important;
	background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
	background-size:cover;
	
}
.nav-link{
	font-size: 17px;
	position: relative;
}
/*.nav-link:after{
	content:'';
	position: absolute;
	top:0;
	left: 0;
	width: 0;
	height: 2px;
	background: white;

}*/
.padd{
	padding-bottom: 120px;
}
.brdr-btm{
	
    border-bottom: 1px solid white;
    display: none;
}
.nav-item{
	padding: 12px;
}
.nav-item>a:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border: 1px solid transparent;
	width: 0px;
	transition: all 0.5s ease-in-out;
	
}
.nav-item>a{
	position: relative;
	transition: all 0.5s ease-in-out;
	display: block;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.nav-item>a:hover:after{
	width: 100%;
	border: 1px solid white;
	
}
/*.nav-item:hover .brdr-btm{

	display: block;
}*/
.main{
	padding-top: 125px;
	color:white;
}
.main h1{
	font-size: 44px;
    line-height: 52px;
}
.main p{
	padding-top: 25px;
    font-size: 14px;
    line-height: 26px;
}
.h-btn{
	padding-top: 30px;
}
.d-btn{
	background: white;
    margin-left: 15px;
    height: 44px;
    width: 180px;
    padding: 14px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}
.d-btn>a{
	
	color: #3c9cfd;
}
.d-btn a:hover{
	text-decoration: none;
	color: #3c9cfd;
}
.g-btn{
	margin-left: 25px;
    border: 2px solid white;
    height: 44px;
    width: 160px;
    padding: 10px;
    border-radius: 24px;
    font-weight: 900;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    cursor:pointer;
}
.g-btn>a{
	color: white;
}
.g-btn>a:hover{
	text-decoration: none;
	color: white;
}
/*feature section css starts here*/
.features{
	padding-top: 80px;
	padding-bottom: 80px;
}
.fe-btn,.screen-btn,.team-btn,.review-btn,.price-btn,.blog-btn,.form-btn{
    height: 35px;
    margin: 0 auto;
    background: #dbecff;
    border-radius: 24px;
    text-align: center;
    padding: 4px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.fe-btn>a,.screen-btn>a,.team-btn>a,.review-btn>a,.price-btn>a,.blog-btn>a,.form-btn>a{
	text-decoration: none;
	color:black;
}
.fe-btn>a:hover,.screen-btn>a:hover,.team-btn>a:hover,.review-btn>a:hover,.price-btn>a:hover,.blog-btn>a:hover,.form-btn>a:hover{
	text-decoration: none;
	color:black;
}
.fe-btn{
    width: 147px;
}
.features h2,.screen-shots h2,.experts h2,.review h2,.pricing h2,.blog h2,.fo h2{
    text-align: center;
    background-image: linear-gradient(to top left, #3c96ff, #2dfbff);
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 16px;

}
.btns,.btns-2{
	height: 60px;
	width: 60px;
	background-image: linear-gradient(to top left, #2dfbff,#3c96ff);
	border-radius: 50%;
	position: absolute;
    top: 4%;
    cursor: pointer;

}
.btns{
	right: 2%;
}
.btns-2{
	left: 0%;
}
.txt-align{

	padding-right: 65px;
}
.txt-p{
	color: #a0a6ad;
	padding-right: 65px;
    line-height: 24px;
    padding-top: 5px;
}
.btns>i,.btns-2>i{
	display: block;
    padding: 19px;
    color: white;
    font-size: 20px;
}
.fs{
	font-size: 15px;
	cursor: pointer;
}
.fs p{
	color: #a0a6ad;
	line-height: 24px;
    padding-top: 5px;
    padding-left: 65px;
}
.fs h3{
	 padding-left: 65px;
}
.vid{
	background-image: linear-gradient(to top left,#2dfbff,#3c96ff);
	height: 270px;
	position: relative;
}
.vid-btn{
	width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    cursor: pointer;
}
.vid-btn>i{
	color: #3c9cfd;
    position: absolute;
    right: 26%;
    bottom: 30%;
    font-size: 34px;
}
.vid h2{
	position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.amaze{
	padding-top: 80px;
}
.amz-btn,.amzz-btn{
    height: 35px;
    background: #dbecff;
    border-radius: 21px;
    text-align: center;
    padding: 4px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 100px;
    cursor: pointer;
}
.amz-btn{
	width: 200px;
}
.amzz-btn{
	width: 147px;
}
.amaze h2{
	padding-top: 20px;
}
.amaze p{
	font-size: 14px;
    color: #a0a6ad;
    line-height: 25px;
    padding-top: 10px;
}
.read{
    font-weight: 900;
    padding-top: 15px;
}.read>a{
	color:#3c9cfd;
}
.read>a:hover{
	text-decoration: none;
	color:color: #3c9cfd;
}
.read>i{
	font-size: 12px !important;
    padding-left: 3px;
}
/*screenshots css here*/
.screen{
    margin-top: 80px;    
    background: #f6fbfd;
     padding-bottom: 80px;
}
.screen-shots{
     
    /* padding-bottom: 80px;*/
}
.screen-btn{
    width: 190px;
    margin-top: 80px;
}

.carimages-sec{
    height: 100%;
    width: 100%;
}
.parent{
    height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
}       
.child{
    width: auto;
    height: 100%;
    position: absolute;
    padding-top: 40px;
    white-space: nowrap;

}
.child img{
     padding: 15px;
}
.car-btns{
    width: fit-content;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);

}
.car-btns >span{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    background: grey;
    }
.car-btns >span:hover{
    background: #3c9cfd;
    cursor: pointer;
}
.left_side_first_load_effect{
    transition: all .4s ease-in-out;
    left:0px;
}

.left_side_move{
    transition: all .4s ease-in-out;
    left:-568px;
}

.right_side_move{
    transition: all .4s ease-in-out;
    left:0px !important;
}
/*experts div css starts here*/
.experts{
    padding-top: 80px;
}
.team-btn{
    width: 120px;
}
.team-img{
    height: 80%;
    width: 100%;
}
.team-txt{
    height: 90px;
    width:255px !important;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow:0px 0px 14px 0px #8080804f;
    /*border:1px solid black;*/
}
.team-txt p{
    color: grey;
    margin-top: -5px;
}
.layer{
    /*position: relative;
    overflow: hidden;*/
}

.layer > span {
	display:block;
	width:fit-content;
	overflow: hidden;
	position: relative;
}

.layer:hover .layer-effect{
	left: 0px;
}
.layer-effect{
	width: 40px;
    height: 172px;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    border-top-right-radius: 35px;
    background: linear-gradient(to right,#3c96ff 0%,#2dfbff 100%);
    left:-40px;
    transition: all .5s ease-in-out;

}
.layer-i{
	margin-top: 14px;
}
.layer-i i{
	display: block;
    padding: 10px;
    color: white;
}
.layer-i a{
	text-decoration: none;
}
.layer-i a:hover{
	text-decoration: none;
}
/*review css starts here*/
.review{
    padding-top: 60px; 
}
.review-slide{
     background: #f6fbfd;
     padding-bottom: 80px;
}
.review-btn{
    width: 140px;
    margin-top: 30px;
}
.car-div{
    width:50%;
    height: 285px;
    margin: 0 auto;
    margin-top: 60px;
    background: white;
    border-radius:3px;
    box-shadow: 0px 0px 14px 0px #8080804f;
}
.car-div img
{
    width:50%;
    height: 320px;
}
.cir-img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.cir-img>img{
    height: 100%;
    width: 100%;
}
.review p{
    padding: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: #a0a6ad;
}
.review h5,.review span{
    text-align: center;
    display: block;
}
.review span{
	 margin-top: -3px;
	 color: #a0a6ad;
}
.review h5{
	  margin-top: -30px;
}
/*logos-div css starts here*/
.logos-div{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 40px;
    padding-bottom: 40px;
}
.logos-div>li{
	float: left;
	padding: 40px;
}
.logos-div>li>img{
	height: 45px;
    width: 145px;
}
.sub{
	background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
}
.sub-box{
	height: 340px;
	width: 700px;
	margin: 0 auto;
	color: white;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	position: relative;
}
.sub-btn{
	height: 70px;
    border: 2px solid white;
    border-radius: 35px;
    width: 100%;
    background: none;
}
.sub-box>h1{
	font-size: 32px;
}
.sub-box input::placeholder{
	color: white;
	font-size: 20px;
	padding-left: 30px;
}
.subscr-btn{
	width: 165px;
    display: block;
    position: absolute;
    right: 22px;
    top: 187px;
    background: white;
   	color: #3c96ff;
    padding: 17px;
    border-radius: 35px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
}
/*pricing div css starts here*/
.pricing{
	padding-bottom: 80px;
	padding-top: 15px;
}
.price-btn{
	width: 140px;
    margin-top: 80px;
}
.free,.standard,.business{
	height:auto;
    background: white;
    box-shadow: 0px 0px 14px 0px #8080804f;
}
.pricing i{
	display: block;
    text-align: center;
    font-size: 35px;
    color: #a0a6ad;
    padding-top: 30px;
}
.free,.business{
	padding-bottom: 30px;
	border-radius: 6px;
}
.free h3,.free h1,.business h3,.business h1{
	color: black;
	text-align: center;
	padding: 10px;
}
.free h1,.business h1{
	font-size: 40px;
}
.free h1>sub,.business h1>sub{
	font-size: 15px;
}
.free p,.business p{
	text-align: center;
	color:#a0a6ad;
	line-height: 23px;
}
.free-btn,.business-btn{
	width: 165px;
    height: 46px;
    background: white;
    color: #3c96ff;
    padding: 12px;
    border-radius: 28px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    border:1px solid #3c96ff;
}
.standard{
	background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
	padding-bottom: 30px;
	border-radius: 6px;
}
.standard>i
{
	color: white;
}
.standard h3,.standard h1{
	color: white;
	text-align: center;
	padding: 10px;
}
.standard h1{
	font-size: 40px;
}
.standard h1>sub{
	font-size: 15px;
}
.standard p{
	text-align: center;
	color: white;
	line-height: 23px;
}
.subscribe-btn{
	width: 165px;
    height: 46px;
    background: white;
    color: #3c96ff;
    padding: 12px;
    border-radius: 28px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
.free:hover,.free:hover p,.free:hover h1,.free:hover h3,.free:hover i,.business:hover,.business:hover p,.business:hover h1,.business:hover h3,.business:hover i{
    background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
    color: white;
    border-radius: 6px;
}
/*download div css starts here*/
.down{
    background: #f6fbfd;
    padding-top: 80px;
}
.down p{
    color: #a0a6ad;
    font-size: 15px;
    line-height: 25px;
}
.ps,.as{
    height: 43px;
    width: 210px;
    display: inline-block;
    border-radius: 25px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 9px;
    text-align: center;
    cursor:pointer;
}
.ps{
    background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
}
.as{
        border: 2px solid #3c96ff;
        margin-left: 20px
}
.as span,.as i{
     background-image: linear-gradient(to top left, #2dfbff, #3c96ff);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*blog div css starts here*/
.blog{
   padding-bottom: 80px;
}
.blog-btn{
    width: 140px;
    margin-top: 80px;
}
.blog-div{
    padding-top: 50px;
    height: auto;
}
/*.au{
    box-shadow: 0px 0px 14px 0px #8080804f;
    
}*/
.au-sub{
    /*box-shadow: 0px 0px 14px 0px #e4d1d14f;*/
     box-shadow: 0px 0px 14px 0px #8080804f;
     width: 100%;
     border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.au span{
    position: absolute;
    right: 50px;
    margin-top: -30px;
}
.au a{
    display: inline-block;
    font-size: 22px;
    padding: 19px;
    padding-top: 55px;
    color: #191c1e;
}
.au a:hover{
    color: #3c9cfd;
    text-decoration: none;
}
.au p{
    display: inline-block;
    padding: 19px;
    padding-top: 0px;
    color: #a0a6ad;
    margin-top: -7px;
    font-size: 15px;
    padding-bottom: 10px;
}
.au p:last-child{
    position: absolute;
    right: 0;
}
.au:hover{
    margin-top: -10px;
    transition-duration: 1.5s;
}
/*g-map div starts here*/
.map{
    height: 500px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*form div starts here*/
.fo{
    position: relative;
    height: 670px;
}
.form-div{
    width: 90% !important;
    background: white;
    box-shadow: 0px 0px 14px 0px #8080804f;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 250px;
    padding: 30px;
    margin-bottom: 80px;
}
.form-btn{
    width: 140px;
}
.fo form input, .fo form textarea{
	width: 100%;
    box-shadow: 0px 0px 14px 0px #8080804f;
    border: none;
   	text-align: center;
    margin-bottom: 30px;
}
.fo form input{
	 height: 45px;
	border-radius: 25px;
}
.fo form textarea{
	text-align: left;
    height: 170px;
    border-radius: 10px;
}
.fo form input::placeholder, .fo form textarea::placeholder{
	color: #495057;
	font-size: 15px;
}
.fo form button{
	display: block;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%);
    border: none;
    width: 123px;
    height: 40px;
    color: white;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}
.fo form p{
	text-align: center;
	color: #a0a6ad;
	font-size: 15px;
}
/*footer part css starts here*/
.foot{
	background-image: linear-gradient(90deg, #3c96ff 0%, #2dfbff 100%); 
	height: auto;
	color: white;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.foot span{
	font-size: 20px;
}
.foot a{
	color:white;
	text-decoration: none;
}
.foot a:hover{
	color:white;
	text-decoration: none;
}
.brdr-btm-2{
	border-bottom: 1px solid white;
    padding-top: 30px;
}
.icons-div{
	float: right;
}
.pa1{
	font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}
.pa2 p{
	line-height: 20px;
	font-size: 15px;
	font-weight: 600;
}
.pa2 h4{
	padding-bottom: 10px;
	font-size: 22px;
}
.last{
	padding-top: 15px;
}
.last i{
	padding: 6px;
    font-size: 13px;
}
@media screen and (max-width: 1024px){
	.subscr-btn {
		top: 213px;
	}
}
@media screen and (max-width: 768px){
	.head {
		padding: 0px !important;
		margin: 0 !important;
	}
	}
@media screen and (max-width: 764px){
	.navbar{
		background: black;
	}
	.nav-item{
		padding:3px;
	}
	.main h1 {
    font-size: 30px;
    line-height: 38px;
	}
	.subscr-btn{
		top: 211px;
	}
	.free, .standard, .business {
    	margin-bottom: 40px;
    }
    .icons-div {
    margin-top: -40px;
    }
    .team-txt{
    	width:263px !important;
    }
    .car-div{
    	width:100%;
    }
    .au span {
   	right: 124px;
    margin-top: -26px;
	}
	.au-sub {
 	width: 80%;
    height: 40%;
	}
	.logos-div .logo-img{
    	display: none !important;
    }

}


